<a href="https://colab.research.google.com/github/junaedifahmi/Data-Science-Tutorial/blob/master/Python_Basic_Syntax.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Basic Syntax

Python sangat berguna dalam pengembangan machine-learning maupun data science secara global. Python mengizinkan untuk membuat seemless transition from development to deployment. 

Python merupakan bahasa intertpreter sehingga memudahkan dalam mengeksplorasi data karena tidak perlu kompilasi. Dalam eksplorasi data, yang merupakan salah satu step dalam machine learning, tidak ada logika yang pasti sehingga bahasa pemrograman yang dinamic dan cepat dalam meng-handle perubahan diperlukan. 


Secara umum, python memiliki kapabilitas yang sama dengan bahasa pemrograman lain, seperti operasi aritmatika, operasi perbandingan logika, percabangan, perulangan, maupun fungsi dan kelas. 

Untuk seorang pemrogamer yang sudah belajar logika pemrograman akan sangat mudah beralih dari bahasa pemrogaram tersebut ke bahasa permrograman python.

## Variable

Penamaan variable dalam python merupakan case sensitive, perbedaan huruf besar dan huruf kecil akan menyebabkan interpretasi yang berbeda. 
Aturan pernamaan pada python kurang lebih sama seperti bahasa pemrograman yang lain yaitu:
1. Tidak diawali dengan angka, simbol **kecuali** garis bawah (_)
2. Panjang nama variable tidak melebihi 255 character

### naming convention
Naming convention adalah guide untuk memberikan nama variable sesuai kesepakatan tidak tertulis. Beberapa hal yang dapat diatur melalui naming covention adalah.

1. Penamaan kelas diawali dengan huruf `Kapital` atau `TitleCase`.
2. Penamaan fungsi sebisa mungkin menggunakan `snake_case` dan masih menggunakan huruf kecil
3. Penamaan variable local menggunakan `lower_case`, sedangkan variable global menggunakan `UPPER_CASE`
4. Untuk variable yang diabaikan menggunakan underscore `_`
5. Penamaan method private diawali dengan `_underscore`
6. Penamaan method built-in diawali dengan `__double_underscore__`


Dalam python tipe data dari variable tidak secara eksplisit ditentukan, sehingga dapat memudahkan beberapa kemungkinan yang akan terjadi.

In [ ]:
nama_variable_lokal = "12"

In [ ]:
NamaKelas = "boleh tapi frown uppon"

In [ ]:
_variable_lain = "ini juga bisa cuma gak biasa aja"

## Data Types

Tipe data dalam python tidak dideklarasikan secara eksplisit sehingga sebisa mungkin kita dapat menggunakan nama variable yang mengisyaratkan tentang tipe data tersebut. 

Tipe data tradisional seperti, `int`, `float`, `str` adalah tipe data yang sama dengan kebanyakan tipe data yang lain, akan tetapi dalam python kita tidak mengenal array. Tipe data yang mirip dengan array, meskipun tetap berbeda baik dalam method maupun kegunaannya, adalah list.

### List

List adalah sebuah tipe data python dimana beberapa data digabungkan dalam satu varibale. Dalam list tidak ada batasan mengenai tipe data apa yang dapat ditampung dalam satu list, sehingga list dapat mendukung beberapa tipe data dan mendukung nesting.

Deklarasi list kosong jarang sekali dilakukan, meskipun dapat dilakukan, sehingga banyak list yang tidak secara eksplisit dideklarasikan. 

Ciri-ciri list adalah penggunaan kurung siku `[` `]`, dan setiap anggota atau item nya dipisahkan dengan koma.

Contoh penggunaan list adalah sebagai berikut:

In [ ]:
keranjang = ["tahu", "jeruk", 6.2, 5, ["barang lain"] ]

In [ ]:
# deklarasi list kosong

keranjang_baru = list()
keranjang_baru = []

In [ ]:
# menambahkan item ke eksisting list

keranjang_baru.append("buah")
keranjang_baru

In [ ]:
# menambahkan item dengan tipe variable lain ke dalam list
keranjang_baru.append(6*2)
keranjang_baru

In [ ]:
# akses list menggunakan indeks

print(keranjang[2])

# akses list dari belakang dengan menggunakan notasi negative
print(keranjang[-1])

In [ ]:
# slicing, mengakses beberapa item dalam list

keranjang[2:]

In [ ]:
keranjang[:-2]

In [ ]:
# mengurangi item dengan cara pop

print(len(keranjang))
x = keranjang.pop()
print(x)
print(len(keranjang))

### Tuple

Tuple adalah list yang item nya tidak dapat ditambah atau dikurangi. Beberapa method tuple mirip dengan list tetapi berbeda dengan

In [ ]:
new_tup = (2, 3, "dua")
new_tup

In [ ]:
new_tup.pop()

### Dictionary


Dictionary adalah mapping key dengan value. 

deklarasi dictionary dapat berupa

In [ ]:
usia_penduduk = {
    "ari" : 12.8,
    "ira" : 12.7,
    "ria" : 12
}

In [ ]:
# mengakses value dengan cara memanggil key 

usia_penduduk["ria"]

In [ ]:
for k, v in usia_penduduk.items():
  print("ini key nya", k, end=" | ")
  print("ini value nya", v)

### Set

set adalah salah satu tipe data yang menghimpun item yang tidak diperbolehkan adanya duplikasi.

In [ ]:
contoh_set = { "dua", "dua", "tiga", "satu" }
print(contoh_set)

In [ ]:
for i in contoh_set:
  print(i)

## Operasi Aritmatika

Operasi aritmatika kurang lebih sama dengan bahasa pemrograman lain. Contoh operasi aritmatika adalah, penambahan (+), pengurangan (-), pembagian (/), perkalian (\*), floor division (pembulatan ke bawah) (//), pemangkatan (**)

In [ ]:
4 * 2

In [ ]:
4.0 * 2

In [ ]:
4e5 * 5

In [ ]:
4e-2 *5

In [ ]:
4e-2 / 5

In [ ]:
4e-2 // 5

In [ ]:
2**5